.outer-container
{
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    z-index: 12;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5vw;
}

.list-container
{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    overflow-y: scroll;
}

.list-node
{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-image: url("../image/choicebutton.png");
    background-size: 100% 100%;
    background-position: center;
    border-radius: 3vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-page
{
    z-index: 13;
    display: none;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5vw;
}

.page-title:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.page-title
{
    width: 80%;
    height: 8vh;
    margin-top: 4vh;
    margin-left: 10%;
    text-align: center;
    vertical-align: middle;
}

.pTitle-text
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../image/choicebutton.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pContent-text
{
    width: 90%;
    margin-left: 5%;
}

.page-content
{
    width: 80%;
    height: 50vh;
    margin-top: 2vh;
    margin-left: 10%;
    background-color: rgb(249, 227, 165);
    border-radius: 4%;
    overflow-y: scroll;
}

.back-btn
{
    width: 30%;
    height: 7%;
    margin-left: 35%;
    background-color: transparent;
    background-image: url("../image/choicebutton.png");
    background-size: 100% 100%;
    background-position: center;
    border-radius: 2.5vw;
    margin-top: 5vh;
    border: 0;
}

.exit-btn
{
    position: absolute;
    width: 30%;
    height: 9vw;
    max-height: 300px;
    background-color: transparent;
    background-image: url("../image/choicebutton.png");
    background-size: 100% 100%;
    background-position: center;
    border-radius: 2.5vw;
    border: 0;
    top: 85%;
    left: 35%;
}